#user-create .panel-primary{
  border-color: $primaryColor;
}
#user-create .panel-heading{
  background-color: $primaryColor;
  border-color: $primaryColor;
}
#user-create .section-title h3{
  color:$primaryColor;
}
#user-create .form-group{
  float: left;
  position: relative;
  width:100%;
}
#user-create .control-label{
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
}
#user-create .fileinput-thumbnail{
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
}
#user-create .fileinput-upl .btn{
  background: $primaryColor;
  &:hover {
    background: $primaryHoverColor;
  }
  @include easeInOutEff;
  border:1px solid transparent;
}
#user-create form input[type="password"]{
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#user-create input[type='password']:focus{
  border-color: #13895F;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(19, 137, 95, 0.075), 0 0 8px rgba(19, 137, 95, 0.6);
}
#user-create form .rq{
  position: absolute;
  right:6px;
}
#user-create #create-user-btn{
  background: $primaryColor;
  &:hover {
    background: $primaryHoverColor;
  }
  @include easeInOutEff;
  border:1px solid transparent;
}
#user-create .fileinput-upl input{
  overflow: hidden;
  opacity:0;
  padding: 5px 0px;
  cursor: pointer;
}
#user-create .fileinput-upl span{
  position: absolute;
  bottom: 0px;
  pointer-events: none;
  &:hover {
    background: $primaryHoverColor !important;
  }
  @include easeInOutEff;
  border:1px solid transparent;
}
#user-create #avatar-holder{
  width:200px;
  height:150px;
}