*{
  font-family: "Open Sans",sans-serif;
}
.login-container{
  border-radius: 10px;
  padding: 30px;
  position: relative;
  margin: 10px;
  box-shadow: 0px 0px 1px 1px rgba(161, 159, 159, 0.1);
  top:150px;
}
.login-widget{
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}
.login-widget .square{
  width: 18px;
  height: 18px;
  border: 3px solid #13895F;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}
.login-widget header{
  margin-bottom: 40px;
}
.login-widget h1{
  display: inline-block;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width:100%;
  margin-top:0;
}
.login-widget h5{
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width:100%;
}
.white-bg {	background-color: white; }
.light-gray-bg { background-color: #efefef; }
.white-bg .fa-times { background-color: #d7d7d7; }
.white-bg .fa-times:hover {	background: #83ccd1; }
.login-form .form-group { margin-bottom: 20px; }
.login-form .form-group:last-child {	margin-bottom: 0; }

.checkbox label{padding-left: 0}
input[type="checkbox"] {  display:none; }
input[type="checkbox"] + label span {
  display:inline-block;
  width:26px;
  height:25px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(/images/checkbox-radio-sheet.png) left top no-repeat;
  cursor:pointer;
}
input[type="checkbox"]:checked + label span {
  background:url(/images/checkbox-radio-sheet.png) -26px top no-repeat;
}
input[type="radio"] { display:none; }
input[type="radio"] + label span {
  display:inline-block;
  width:26px;
  height:25px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(/images/checkbox-radio-sheet.png) -52px top no-repeat;
  cursor:pointer;
}
input[type="radio"]:checked + label span {
  background:url(/images/checkbox-radio-sheet.png) -78px top no-repeat;
}
.blue-button{
  border-radius: 2px;
  padding: 10px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width:100%;
}
.blue-button {
  background-color: #39ADB4;
  border: none;
  color: white;
}
.blue-button:hover {background-color: #2A858B;}
