#company-create .fileinput-upl input,
#company-update .fileinput-upl input{
  overflow: hidden;
  opacity:0;
  padding: 5px 0px;
  cursor: pointer;
}
#company-create .fileinput-upl span,
#company-update .fileinput-upl span{
  position: absolute;
  bottom: 0px;
  pointer-events: none;
  &:hover {
    background: $primaryHoverColor !important;
  }
  @include easeInOutEff;
  border:1px solid transparent;
}
#company-create #avatar-holder,
#company-update #avatar-holder{
  width:200px;
  height:150px;
}
#company-create .fileinput-thumbnail,
#company-update .fileinput-thumbnail{
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
}
#company-create #logo-holder,
#company-update #logo-holder{
  width: 200px;
}